.vagrant
*.swp
*.pyc
redundancy_payments_alpha/.idea/*
redundancy_payments_alpha/*.log
redundancy_payments_alpha/sent_emails/*
redundancy_payments_alpha/reports
!redundancy_payments_alpha/sent_emails/.gitkeep
.coverage
cover/
.idea/
bin/
include/
lib/
local/
man/
build/
dist/
share/
wheelhouse/
*.egg-info/
*~
nosetests.xml
