.vagrant
*.swp
*.pyc
rps/.idea/*
rps/*.log
rps/sent_emails/*
rps/reports
!rps/sent_emails/.gitkeep
.coverage
cover/
.idea/
bin/
include/
lib/
local/
man/
build/
dist/
share/
wheelhouse/
*.egg-info/
*~
nosetests.xml
