{% extends "base.html" %}
{% from 'macros/_form_field.html' import form_field  %}

{% block title %}Insolvency Practitioners - Redundancy Payments - The Insolvency Service{% endblock %}
{% block header %}
    <link rel="stylesheet" href="/static/bootstrap-responsive.min.css">
{% endblock %}
{% block content %}
    <!-- responsive wrapper -->
    <div class="container-fluid" id="top">

        <!-- new row (nr) -->
        <div class="row-fluid">
            <div class="hero-unit">
                Employee record has been created.
            </div>
        </div>
        <!-- nr -->
    </div>
{% endblock %}