{% from 'macros/_claim_summary.html' import claim_summary %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insolvency Practitioners - Redundancy Payments - The Insolvency Service</title>
</head>
<body style="padding-top:60px;">
<!-- responsive wrapper -->
<div class="container-fluid" id="top">
    <!-- global navigation toolbar -->
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    <li><a class="brand" href="/ip-dashboard/claims/">The Insolvency Service</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/create-employee-record/employee-details/"><i class="icon-plus"></i>New Claimant Record</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="#">LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- new row (nr) -->
    <div class="row-fluid">
        <!-- new column (nc) -->
        <div class="span12">
            <!--  main navigation tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="ip-dashboard.html"><i class="icon-search"></i>Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- nr -->

    <div class="row-fluid">
        <div class="span12">
            <!-- search results -->
            <p><span class="badge">{{ claim_summaries|length }}</span> claimant records</p>
            <table class="table">
                <tr>
                    <th>Claim Status</th>
                    <th>Date Submitted</th>
                    <th>Claimant Name</th>
                    <th>Date of Birth</th>
                    <th>NI Number</th>
                    <th>Employer Name</th>
                </tr>

                {% if claim_summaries %}
                    {% for claim in claim_summaries %}
                        {{ claim_summary(claim) }}
                    {% endfor %}
                {% else %}
                    <span>No claims</span>
                {% endif %}

            <!-- notes -->

        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap-responsive.min.css">
</body>
</html>
