server {
    listen 80 default_server;
    server_name _;

    location / { # FIXME: Required for static content for the claimant journey
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        auth_basic "Redundancy Payment Service Showcase";
        auth_basic_user_file /etc/nginx/htpasswd;
    }

    location /claim-redundancy-payment {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        auth_basic "Redundancy Payment Service Showcase";
        auth_basic_user_file /etc/nginx/htpasswd;
    }

    # FIXME: A common url prefix would be nice
    location /create-insolvency-case {
        proxy_pass http://localhost:8001;
        proxy_set_header Host $host;
        auth_basic "Redundancy Payment Service Showcase";
        auth_basic_user_file /etc/nginx/htpasswd;
    }

    location /create-employee-record {
        proxy_pass http://localhost:8001;
        proxy_set_header Host $host;
        auth_basic "Redundancy Payment Service Showcase";
        auth_basic_user_file /etc/nginx/htpasswd;
    }
	
	location /ip-dashboard {
        proxy_pass http://localhost:8001;
        proxy_set_header Host $host;
        auth_basic "Redundancy Payment Service Showcase";
        auth_basic_user_file /etc/nginx/htpasswd;
    }
}
