{% macro claim_summary(claim) %}
    <tr>
        {% if claim.get('discrepancy') and claim.get('date_submitted') %}
        <td><span class="label label-info">Disputed</span></td>
        {% elif claim.get('date_submitted') %}
        <td><span class="label label-success">Processed</span></td>
        {% else %}
        <td><span class="label label-warning">Pending</span></td>
        {% endif %}
        <td>{{ claim.get('date_submitted')|datetime_string }}</td>
        <td>{{ claim.get('initials') }} {{ claim.get('surname') }}</td>
        <td>{{ claim.get('date_of_birth')|date_string }}</td>
        <td>{{ claim.get('nino') }}</td>
        <td>Iron Core Mining LTD</td>
    </tr>
{% endmacro %}
