<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Stylesheets from static -->
    <link href="/static/inss.css" media="screen" rel="stylesheet" type="text/css" />

    <!--[if gt IE 8]><!-->
    <link href="/static/header-footer-only.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/main.css" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if IE 6]>
      <link href="/static/header-footer-only.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/main-ie6.css?cache=1382691591" media="screen" rel="stylesheet" type="text/css" />
      <![endif]-->
    <!--[if IE 7]>
      <link href="/static/header-footer-only.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/main-ie7.css?cache=1382691591" media="screen" rel="stylesheet" type="text/css" />
      <![endif]-->
    <!--[if IE 8]>
      <link href="/static/header-footer-only.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/main-ie8.css?cache=1382691591" media="screen" rel="stylesheet" type="text/css" />
      <![endif]-->
    <!--[if lt IE 9]>
      <script src="/static/govuk_template/ie.js" type="text/javascript"></script>
      <![endif]-->

      <link href="/static/print.css" media="print" rel="stylesheet" type="text/css" />
      

{#
    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
      setTimeout(function(){var a=document,g,b={families:(g=
      ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-beb10cbc00c9b7dcdbdee824962bc5f6.css"]},
      c="https://assets.digital.cabinet-office.gov.uk/static/libs/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
      e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
      ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
      .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    #}

    <!--[if gte IE 9]><!--><link href="/static/fonts.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-57x57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block scripthead %}{% endblock %}

</head>
<body class="full-width">
    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="/" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="/static/gov.uk_logotype-2x.png" alt="GOV.UK">
                    </a>
                </div>
            </div>
        </div>
    </header>
<!--end header-->

    <div id="wrapper">
        <main id="content" role="main" class="group detailed-guidance">
            <article role="article" class="group">
                <header class="page-header group">
                    <div class="hgroup">
                      {% block header %}{% endblock %}
                    </div>
                </header>

                <div class="article-container group">
                    {% if not hide_nav %}
                    <div class="contents">
                        <nav>
                            <h2>Contents</h2>
                            <div class='link-list'>
                                {% block nav %}{% endblock %}
                            </div>
                        </nav>
                    </div>
                    {% endif %}
                    <section>
                        <div class="inner" id={{ inner_id }}>
                          {% block content %}{%endblock%}
                        </div>
                    </section>
                </div>
            </article>
        </main>
    </div>
<footer class="group js-footer" id="footer" role="content-info">
    <div class="footer-wrapper">
    <nav class="footer-categories"><div class="footer-explore">
      <h2>Services and information</h2>

      <ul>
        <li><a href="/browse/driving">Driving and transport</a></li>
        <li><a href="/browse/benefits">Benefits</a></li>
        <li><a href="/browse/business">Businesses and self-employed</a></li>
        <li><a href="/browse/employing-people">Employing people</a></li>
        <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
        <li><a href="/browse/education">Education and learning</a></li>
        <li><a href="/browse/working">Working, jobs and pensions</a></li>
        <li><a href="/browse/housing">Housing and local services</a></li>
        <li><a href="/browse/justice">Crime, justice and the law</a></li>
        <li><a href="/browse/tax">Money and tax</a></li>
        <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
        <li><a href="/browse/disabilities">Disabled people</a></li>
        <li><a href="/browse/citizenship">Citizenship and life in the UK</a></li>
      </ul>
    </div>

    <div class="footer-inside-government">
      <h2>Departments and policy</h2>

      <ul>
        <li><a href="/government/how-government-works">How government works</a></li>
        <li><a href="/government/organisations">Departments</a></li>
        <li><a href="/government/world">Worldwide</a></li>
        <li><a href="/government/topics">Topics</a></li>
        <li><a href="/government/policies">Policies</a></li>
        <li><a href="/government/publications">Publications</a></li>
        <li><a href="/government/announcements">Announcements</a></li>
      </ul>
    </div>

  </nav>
  <div class="footer-meta">
    <nav>
      <ul>
        <li><a href="/support">Support</a></li>
        <li><a href="/support/cookies">Cookies</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/cymraeg">Cymraeg</a></li>
        <li>Built by the <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a></li>
      </ul>
      <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, except where otherwise stated</p>

      <p>Hyperlinks are provided for your convenience only. We do not take responsibility for the reliability or content of linked websites. Neither does a hyperlink indicate endorsement of a particular website or organisation</p>
    </nav>
    <div class="copyright">
      <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
    </div>
  </div>
</div>
    </footer>

    <script src="/static/govuk_template/govuk-template.js" type="text/javascript"></script>
</body>
</html>
