{% extends "base.html" %}
{% block title %}Start Page{% endblock %}
{% block header %}
<h1>Make a Claim for Redundancy Payment</h1>
<h2 class="subtitle">The real start page may be based on GOV.UK, this is a prototype</h2>
{% endblock %}
{% block content %}
<h1>Start making a claim</h1>
    <p>As a result of being made redundant, you may be owed debts that can be paid from the National Insurance Fund. The Redundancy Payments Service ensure that these debts are paid to you.</p>
<form class="form-example-1">
    <p id="get-started" class="get-started group">
        <a id="next" href="/claim-redundancy-payment/personal-details" class="button">Start a claim</a>
    </p>
  </form>
  <h2>Things you will need to know</h2>
<ul>
  <li>You may be entitled to Redundancy Pay, Holiday Pay &amp; Unpaid Wages.</li>
  <li>Before you claim, you must have been dismissed from your Employer.</li>
  <li>You must have worked continuously for your Employer for 2 years or more.</li>
  <li>You must make a claim within 6 months of your dismissal.</li>
</ul>
<p>When an employer becomes insolvent employees are often owed money. The Redundancy Payments Service (RPS) was established to provide a way in which ex-employees could receive some of the payments they are due in a much shorter timescale than if they had to wait for the assets of the employer to be realised before any payments can be made.</p>
<p>These payments are made from the National Insurance Fund (NIF) and are subject to statutory limits.</p>
<p>This fact sheet is not a full statement of the law on insolvency and redundancy payments. It provides basic information on what you can claim from the NIF and how to claim.</p>
{% endblock %}
