{% from "macros/_form_nav.html" import form_nav %}
{% extends "base.html" %}
{% block title %}Start Page{% endblock %}
{% block header %}
<h1>Make a Claim for Redundancy Payment</h1>
<h2 class="subtitle">The real start page may be based on GOV.UK, this is a prototype :P </h2>
{% endblock %}
{% block nav %}
    {{ form_nav(nav_links) }}
{% endblock %}
{% block content %}
<h1>Start making a claim</h1>
    <p>The Redundancy Payment Service work closely with Insolvency Practitioners who have been appointed to deal with your employers affairs.</p>
    <p>Following being made redundant, you may be owed debts that can be paid from the National Insurance Fund.</p>
    <p>The Redundancy Payments Service ensure that these debts are paid to you. If you wish to make an application for redundancy pay you can do so here.</p>
    <p id="get-started" class="get-started group">
        <a id="next" href='/claim-redundancy-payment/personal-details' class="button">Next</a>
    </p>
{% endblock %}
