<footer class="group js-footer" id="footer" role="content-info">
    <div class="footer-wrapper">

      <div class="footer-meta">
        <nav>
          <ul>
            <li>Built by <a href="https://github.com/InsolvencyService/">The Insolvency Service</a></li>
          </ul>
          <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, except where otherwise stated</p>

          <p>Hyperlinks are provided for your convenience only. We do not take responsibility for the reliability or content of linked websites. Neither does a hyperlink indicate endorsement of a particular website or organisation</p>
        </nav>
        <div class="copyright">
          <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
        </div>
      </div>
    </div>
</footer>
