{% extends "base.html" %}
{% from "macros/_form_field.html" import form_field, date_field %}
{% from "macros/_form_nav.html" import form_nav %}

{% block title %}Employment Details{% endblock %}
{% block header %}
    <h1>Claim Redundancy Payment</h1>
    <h2 class="subtitle">Please enter the details for the employer</h2>
{% endblock %}
{% block nav %}
    {{ form_nav(nav_links, "Employment Details") }}
{% endblock %}
{% block content %}
    <h1>Employment details</h1>
        <form method="post" action="/claim-redundancy-payment/employment-details/" class="form-example-1">
            {% if form.errors %}
            <div class="validation-summary">
                <h1>There was a problem submitting the form</h1>
                <p>Please try the following:</p>
                <ol>
                    {% for error_dict in form.errors.itervalues() %}
                        {% for error in error_dict %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
            <fieldset>
                <legend>Your employment</legend>
                {{ form.hidden_tag() }}
                {{ form_field(form.job_title) }}
                {{ form.type_of_worker.label }}
                <ul class="inline-choice">
                {% for subfield in form.type_of_worker %}
                    <li class="row">
                    {{ subfield }}
                    {{ subfield.label }}
                    </li>
                {% endfor %}
                </ul>
            </fieldset>
            <fieldset>
                <legend>Dates of employment</legend>
                {{ form_field(form.start_date) }}
                {{ form_field(form.end_date) }}
            </fieldset>
            <input class="button" type="submit" value="Save and Continue" />
        </form>
{% endblock %}
