{% from "macros/_form_nav.html" import form_nav %}
{% from "macros/_summary_row.html" import summary_row %}
{% extends 'base.html' %}
{% block title %}Done{% endblock %}
{% block header %}
<h1>Summary</h1>
<h2 class="subtitle">The real summary page will look nicer than this</h2>
{% endblock %}
{% block nav %}
{{ form_nav(nav_links) }}
{% endblock %}
{% block content %}
<h1>Review your claim</h1>
<form method="post" action="/claim-redundancy-payment/summary/" class="form-example-1">
  <div>
    {% if session['user_details'] is defined %}
    <table>
      <!-- Table subheading -->
      <tr><th colspan="2">Personal details</th></tr>
      <!-- /Table subheading -->
      <tr><td>Title</td><td>
        {% if session['user_details'].other_title is defined %}
        {{ session['user_details'].other_title }}
        {% else %}
        {{ session['user_details'].title }}
        {% endif %}
      </td></tr>
      <tr><td>Name</td><td>{{ session['user_details'].forenames + ' ' + session['user_details'].surname }}</td></tr>
      <tr><td>National Insurance Number</td><td>{{ session['user_details'].nino }}</td></tr>
      <tr><td>Date of birth</td><td>{{ session['user_details'].date_of_birth|date_summary }}</td></tr>
      <tr><td>Address</td><td>
        {% if session['user_details'].building_number is defined %}{{ session['user_details'].building_number }}<br/>{% endif %}
        {% if session['user_details'].street is defined %}{{ session['user_details'].street }}<br/>{% endif %}
        {% if session['user_details'].district is defined %}{{ session['user_details'].district }}<br/>{% endif %}
        {% if session['user_details'].town_or_city is defined %}{{ session['user_details'].town_or_city }}<br/>{% endif %}
        {% if session['user_details'].county is defined %}{{ session['user_details'].county }}<br/>{% endif %}
        {% if session['user_details'].postcode is defined %}{{ session['user_details'].postcode }}<br/>{% endif %}
        <tr><td>Contact number</td><td>{{ session['user_details'].telephone_number }}</td></tr>
        <tr><td>Email address</td><td>{{ session['user_details'].email }}</td></tr>
        {% endif %}
        {% if session['employment_details'] is defined %}
        <tr><th colspan="2">Employer details</th></tr>
        <tr><td>Job title</td><td>{{ session['employment_details'].job_title }}</td></tr>
        <tr><td>Type of worker</td><td>{{ session['employment_details'].type_of_worker }}</td></tr>
        <tr><td>Dates of employment</td><td>{{ session['employment_details'].start_date|date_summary }} to {{ session['employment_details'].end_date|date_summary }}</td></tr>
        {% endif %}
        {% if session['wage_details'] is defined %}
        <tr><th colspan="2">Wage Details</th></tr>
        {{ summary_row('Gross pay', 'gross_rate_of_pay', session['wage_details'].gross_rate_of_pay, discrepancies) }}
        {{ summary_row('Day of the week paid on', 'day_of_payment', session['wage_details'].day_of_payment, discrepancies) }}
        {{ summary_row('Number of hours normally worked', 'number_of_hours_worked', session['wage_details'].number_of_hours_worked, discrepancies) }}
        {{ summary_row('Bonus or commission included', 'bonus_or_commission', session['wage_details'].bonus_or_commission, discrepancies) }}
        {{ summary_row('Work overtime', 'overtime', session['wage_details'].overtime, discrepancies) }}
        <tr><td>Days overtime normally worked</td><td>{{ session['wage_details'].hours_of_overtime }} per {{ session['wage_details'].frequency_of_overtime }}</td></tr>
        {{ summary_row('Days normally worked each week', normal_days_of_work, session['wage_details'].normal_days_of_work, discrepancies) }}
        {% endif %}


        {% if session['wages_owed'].owed == "Yes" %}
        <tr>
          <th colspan="2">Wages Owed</th>
        </tr>
        <tr>
          <td>Period owed</td>
          <td>{{ session['wages_owed'].wage_owed_from|date_summary }} to {{ session['wages_owed'].wage_owed_to|date_summary }}</td>
        </tr>
        <tr>
          <td>Number of days owed</td>
          <td>{{ session['wages_owed'].number_of_days_owed }}</td>
        </tr>
        <tr>
          <td>Gross amount owed</td>
          {% if discrepancies.get('gross_amount_owed') %}
          <td class="discrepancy_field">
            {{ session['wages_owed'].gross_amount_owed }}<span class="discrepancy-message">{{ discrepancies['gross_amount_owed']|summary_message }}</span>
            {% else %}
            <td>
              {{ session['wages_owed'].gross_amount_owed }}
              {% endif %}
            </td>
        </tr>
        {% endif %}


    </table>
    <div class="discrepancy-summary">
      <p>If you disagree with any of the information provided by the Insolvency Practitioner you can contact them on <strong>0800 100 300</strong>.</p>

    </div>
    <p>Alternatively, you can choose to submit your claim to receive the minimum payment. You can then contact the Insolvency Practitioner to discuss the claim and you may be entitled to receive a further payment.</p>
  </div>
  <input class="button" type="submit" value="Contact IP">
  <input class="button" type="submit" value="Amend">
</form>

<form method="post" action="/claim-redundancy-payment/submit-claim/{{ claim_id }}/">
  <input class="button" type="submit" value="Process this claim">
</form>
{% endblock %}
